@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/but.css" />
<h1>Состав заказа</h1>
<form asp-action="ChangeStatus1" asp-controller="Employee">
    <div class="form-group">
        <input type="hidden" name="id_order" value="@ViewBag.id_order" />
        <input type="submit" value="Изменить статус заказа" class="btn btn1" />
    </div>
</form>
<form asp-action="GetFileClient" asp-controller="Employee">
    <div class="form-group">
        <input type="submit" value="Распечатать" class="btn btn1" />
    </div>
</form>
<h2>История статусов</h2>
<table>
    <thead>
        <td>Дата</td>
        <td>Статус</td>
    </thead>
    @foreach (var item in ViewBag.ChangeLog)
   {
       <tr>
           <td>@item.Date</td>
           <td>@item.NameStatus</td>
       </tr>
   }
</table>
<table>
    <tr>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Размер</th>
        <th>Цвет</th>
        <th>Количество</th>
    </tr>
    @foreach (var item in @ViewBag.VS)
   {
       
        <tr>
           <td>@item.NameP</td>
           <td>@item.NameCategory</td>
           <td>@item.NameSize</td>
           <td>@item.NameColor</td>
           <td>@item.Count</td>
       </tr>
   }

</table>